<div class="wrapper">
  <div class="cell header">
    <h1>Lambda Deployment APP</h1>
    <div id="key" class="key"><%= @key %></div>
  </div>

  <div class="cell heroku commit">
    <div class="box">
      <img src="assets/heroku.png" alt="">
      <div class="remote">Current commit on Heroku</div>
      <div class="hash">{{herokuCommit}}</div>
    </div>
  </div>
  <div class="cell github commit">
    <div class="box">
      <img src="assets/Octocat.png" alt="">
      <div class="remote">Current commit on Github</div>
      <div class="hash">{{githubCommit}}</div>
    </div>
  </div>

  <div class="cell deployment">
    <div class="box" ng-if="!newVersion">
      <div class="message">You are up-to-date, no deployment needed!</div>
      <div class="message">That's no fun. For demo purpose, Let's change the Heroku version and deploy again.</div>
      <button ng-click="tryAgain()" class="deploy">
        <div class="deploy-text">Change Version</div>
      </button>
      <div class="awsResponse">AWS Lambda status
        {{awsStatus}}!
        <br/>
        version change completed, you may reload and deploy again.</div>
      <i class="fas fa-sync fa-spin"></i>
    </div>

    <div class="box" ng-if="newVersion">
      <div class="message">There is a different commit on GitHub, would you like to deploy it to Heroku?</div>
      <button ng-click="deploy(githubCommit)" class="deploy">
        <div class="deploy-text">Deploy Now</div>
      </button>
      <i class="fas fa-sync fa-spin"></i>
      <div class="awsResponse">AWS Lambda status
        {{awsStatus}}!
        <br/>
        Deployment completed!</div>
    </div>
  </div>
